
<div class="container-fluid p-4">

  <mat-card appearance="outlined" class="mx-auto my-4 w-75 text-center">
    <mat-card-content class="fs-6">
      <strong> 24/12/2024</strong>
      <br>
      <strong>V 1.0.1</strong>  Aggiunta modifica dello straordinario e visualizzazione dello straordinario nella scheda di inserimento ore
    </mat-card-content>
    <mat-card-content class="fs-6 my-5">
      <strong> 07/01/2025</strong>
      <br>
      <strong>V 1.0.2</strong>  Risolto un bug che non permetteva di visualizzare le ore del 2025
    </mat-card-content>
  </mat-card>
</div>
