<div class="d-flex justify-content-center align-items-center h-100 background">
  <div class="card">
    <h1 style="color: white; font-size: 3rem; font-family: 'Lucida Sans';font-weight: bold;">Tasker</h1>
    <input placeholder="Email" [(ngModel)]="User.Email" class='input my-3' name="Email" type="text">
    <input placeholder="Password"  [(ngModel)]="User.Password" class="input my-3" name="Password" type="password">
    <button class="btn my-3" (click)="login()">
      Login
    </button>
  </div>

</div>
