
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="card">
      <h1 class="m-auto" style="color: white; font-size: 3rem; font-family: 'Lucida Sans';font-weight: bold;">Tasker</h1>
      <input placeholder="Email" [(ngModel)]="User.Email" class='input my-3 m-auto' name="Email" type="text">
      <input placeholder="Password"  [(ngModel)]="User.Password" class="input my-3 m-auto" name="Password" type="password">
      <button class="btn mb-5 mt-3" (click)="login()">
        Login
      </button>
    </div>

  </div>
