.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f2;
}

.signup-box {
  z-index: 1;
  width: 25%;
  height: 40%;
  border-radius: 20px;
  padding: 50px;
  background-color: #ffffff;
  -webkit-box-shadow: -15px 10px 17px -7px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: -15px 10px 17px -7px rgba(0, 0, 0, 0.24);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btnon {
  background-color: white;
  border-radius: 20px;
  border: none;
  padding: 5px;
  width: 40%;
}