<!--top navbar-->
<mat-toolbar *ngIf="currentRoute != '/signup'" style="background-color:#f5f8ff">
  <button class="mat-icon-button" mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon class="mat-icon">menu</mat-icon>
  </button>
  <h1 style="color: rgb(0, 0, 0);" >Tasker</h1>
</mat-toolbar>



<mat-sidenav-container   autosize>
  <mat-sidenav *ngIf="currentRoute != '/signup'" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">
        <span class="entry">
          <i style="font-size: 1.3rem" class="fa-solid fa-house"></i>
          <span>Home</span>
        </span>
      </a>
      <hr style="width: 80%;margin: auto">
      <a mat-list-item routerLink="/tasks" >
        <span class="entry">
          <i style="font-size: 1.5rem;" class="fa-solid fa-box-archive"></i>          <span>Tasks</span>
        </span>
      </a>
      <a mat-list-item routerLink="/archived" >
        <span class="entry">
          <i style="font-size: 1.5rem" class="fa-regular fa-clipboard"></i>
          <span>Tasks Archived</span>
        </span>
      </a>
      <hr style="width: 80%;margin: auto">
      <a mat-list-item (click)="logout()">
        <span class="entry">
          <i style="font-size: 1.5rem" class="fa-solid fa-right-from-bracket"></i>
          <span>Logout</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
<router-outlet></router-outlet>
</mat-sidenav-container>
