<!--top navbar-->
<mat-toolbar *ngIf="currentRoute != '/signup'" style="background-color:#0b4978">
  <button class="mat-icon-button" mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon class="mat-icon">menu</mat-icon>
  </button>
  <h1 style="color: white;" >Tasker</h1>
</mat-toolbar>



<mat-sidenav-container   autosize>
  <mat-sidenav *ngIf="currentRoute != '/signup'" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">
        <span class="entry">
          <i style="font-size: 1.3rem;color: white;" class="fa-solid fa-house mx-1"></i>
          <span style="color: white;">Home</span>
        </span>
      </a>
      <a mat-list-item routerLink="/ore">
        <span class="entry">
          <i style="font-size: 1.5rem;color: white;" class="fa-solid fa-clock mx-1"></i>
          <span style="color: white;">ore</span>
        </span>
      </a>
      <hr style="width: 80%;margin: auto;color: white;">
      <a mat-list-item routerLink="/tasks" >
        <span class="entry">
          <i style="font-size: 1.5rem;color: white;" class="fa-solid fa-box-archive mx-1"></i>
           <span style="color: white;">Tasks</span>
        </span>
      </a>
      <a mat-list-item routerLink="/archived" >
        <span class="entry">
          <i style="font-size: 1.5rem;color: white;" class="fa-regular fa-clipboard mx-2"></i>
          <span style="color: white;">Tasks archiviate</span>
        </span>
      </a>
      <hr style="width: 80%;margin: auto;color: white;">
      <a mat-list-item (click)="logout()">
        <span class="entry">
          <i style="font-size: 1.5rem;color: white;" class="fa-solid fa-right-from-bracket mx-2"></i>
          <span style="color: white;">Logout</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
<router-outlet></router-outlet>
</mat-sidenav-container>
