table {
  width: 100%;
}

.fa-trash-can {
  background-color: darkred !important;
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px;
  color: white !important;
  cursor: pointer !important;
}

.fa-pen {
  background-color: #d7b511 !important;
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px;
  color: white !important;
  cursor: pointer !important;
}

.fa-check {
  background-color: forestgreen !important;
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px;
  color: white !important;
  cursor: pointer !important;
}

.add-button {
  background-color: forestgreen;
  color: white;
  width: 110px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.create-task-button {
  background-color: forestgreen;
  color: white;
  padding: 10px;
}

.mat-mdc-fab {
  background-color: #129ae3;
}

.style-modify-button {
  font-size: 1rem;
  border-radius: 50px;
  padding: 12px;
}

.accordion-title {
  font-size: 1.2rem;
  font-family: Roboto, sans-serif;
  color: #109be6;
  font-weight: bold;
}

.mat-accordion .mat-expansion-panel:first-of-type {
  border-radius: 20px !important;
}
