<div class="d-flex justify-content-center flex-column p-3" style="width: 500px;">
  <h1>Inserisci le ore</h1>
  <form class="d-flex flex-column">
    <div class="input-group mb-3 d-flex flex-column">
      <label>Data</label>
      <input [(ngModel)]="hourData.Date" aria-describedby="basic-addon2" aria-label="inserisci" class="form-control w-100" name="data"
             placeholder="inserisci" type="date">
      <div class="input-group-append">
      </div>
    </div>

    <div class="input-group mb-3 d-flex flex-column">
      <label>Operatore</label>
      <input [(ngModel)]="hourData.Operator" aria-describedby="basic-addon2" aria-label="inserisci" class="form-control w-100" disabled="true"
             name="operatore" placeholder="inserisci" type="text">
      <div class="input-group-append">
      </div>
    </div>

    <div class="input-group mb-3 d-flex flex-column">
      <label>Task <b style="color: red;">*</b></label>
      <select #task aria-label="Default select example" class="form-select w-100"
              name="id_task" id="id_task" required (change)="onSelected(task.value)">
              <option selected >{{taskDescription ? taskDescription:'Seleziona una task' }}</option>

        <option *ngFor="let el of arrayTasks"  [value]="el.Id_task"
                id="valueId">{{ el.Task_name + ' ' + el.Task_description }}
        </option>
      </select>
    </div>

    <div class="input-group mb-3 d-flex flex-column">
      <label>Subtask</label>
      <select #subtask aria-label="Default select example" class="form-select w-100"
              name="id_subtask" id="id_subtask" required (change)="onSelectedSub(subtask.value)">
              <option selected >{{subtaskDescription ? subtaskDescription : 'Seleziona una sottotask'}}</option>

        <option *ngFor="let el of arraySubtasks" [value]="el.id"
                id="valueSubId">{{el.descrizione}}
        </option>
      </select>
    </div>

    <div class="input-group mb-3 d-flex flex-column">
      <label>Ore da inserire <b style="color: red;">*</b></label>
      <input [(ngModel)]="hourData.Hour" aria-describedby="basic-addon2" aria-label="inserisci" class="form-control w-100" name="ore"
             placeholder="inserisci" type="number" min="1">
      <div class="input-group-append">
      </div>
      <p class="my-3"><mat-slide-toggle (change)="showStraordinario()">Straordinario</mat-slide-toggle></p>
      <input *ngIf="show"  [(ngModel)]="overtime.Hours" aria-describedby="basic-addon2" aria-label="inserisci" class="form-control w-100" name="straordinario"
              type="number" min="1">
    </div>


    <div class="input-group mb-3 d-flex flex-column">
      <label>Commit (opzionale)</label>
      <input [(ngModel)]="hourData.Commit" class="form-control w-100" name="commit" placeholder="Aggiungi il codice del commit"
             type="text">
      <div class="input-group-append">
      </div>
    </div>

    <div class="input-group mb-3 d-flex flex-column">
      <label>Uteriori note <b style="color: red;">*</b></label>
      <textarea [(ngModel)]="hourData.Description" class="form-control w-100" name="note" placeholder="Aggiungi una descrizione"
                style="height: 150px;"></textarea>
      <div class="input-group-append">
      </div>
    </div>


    <button (click)="Id_hour != null ? modificaOra(data.dati.Id_hour,hourData) : inserisciOra()" [disabled]="checkAllInput()" class="btn btn-success" type="submit">
      Inserisci ore
    </button>

  </form>
</div>
