  <button mat-fab extended (click)="openDialog()">
    <i class="fa-solid mr-1 fs-4 fa-plus"></i>
    <i class="fa-regular mx-1 fs-4 fa-user"></i>
  </button>

<table style="margin-top: 50px" mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

  <ng-container matColumnDef="Id_User">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.Id_User}} </td>
  </ng-container>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
  </ng-container>

  <ng-container matColumnDef="Email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
  </ng-container>

  <ng-container matColumnDef="Authorization">
    <th mat-header-cell *matHeaderCellDef> Autorizzazione </th>
    <td mat-cell *matCellDef="let element">
      <select>
        <option [value]="element.Authorization">{{element.Authorization}}</option>
        <option *ngFor="let el of inputAuth" [value]="el">
          {{ el }}
        </option>
      </select>
    </td>
  </ng-container>
  <ng-container matColumnDef="Change_password">
    <th mat-header-cell *matHeaderCellDef> Gestisci </th>
    <td mat-cell *matCellDef="let element">
      <button class="pass-button" mat-fab extended (click)="openDialogWindow(element.Id_User)">
        <i class="fa-solid fa-key"></i>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<app-spinner></app-spinner>
